

.container {
    padding: 25px;
    position: fixed;
}

.form-login {
    background-color: rgba(25,25,25,25);
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
    opacity: 0.9;
}
hr { 
    display: block;
    margin-top: 0.8em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
    width: 40%;
} 

h4 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
color: white;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}
